.pull-right
  = link_to 'Edit', edit_organisation_path(@organisation), class: 'button'
h3 = link_to :Organisations, organisations_path
h1 = @organisation.name
p Part of #{link_to @organisation.department.name, @organisation.department if @organisation.department}
