
= link_to :Products, products_path
h1 = @product.name
p.lead = @product.description
h2 Benefits
p.lead No benefits currently reported for this product. Please speak with the product owner for more information.
= link_to 'Edit', edit_product_path(@product), class: 'button'
br
br
= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button danger'
