h1 About this tool
p.lead This is a simple application to view Management Information about Common Technology Services. Over time it may include such things as delivery schedules, benefits realised, current engagement, products in development, etc.
